.product-details-page {
    background-color: #6A8076;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    gap: 30px;
}
.site-image-container{
    text-align: left;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    max-width: 300px;
}
.site-image-container img{
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 5px; 
}
.site-text-container{
    padding:40px;
}
.product-details-page .button {
    font-family: "Emilys Candy", serif;
    font-weight: 600;
    font-style: normal;
  background: linear-gradient(135deg, #e8d0a7, #88B7A7); /* Pastelowe zielenie */
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(100, 180, 120, 0.3); /* Miękki zielony cień */
  transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product-details-page .button:hover {
    transform: scale(1.05); /* Powiększa */
  box-shadow: 0 12px 20px rgba(100, 180, 120, 0.4); /* Mocniejszy cień */
  }
  
  .product-details-page .button:active {
    transform: scale(0.95); /* Zmniejsza */
  box-shadow: 0 4px 8px rgba(100, 180, 120, 0.2); /* Słabszy cień */
  }
  .product-details-page .button--secondary {
    background: linear-gradient(135deg, #e8d0a7, #6A8076); /* Ciut ciemniejsze */
    box-shadow: 0 8px 15px rgba(105, 160, 120, 0.3);
  }
  
  .product-details-page .button--small {
    padding: 8px 16px;
    font-size: 14px;
  }
  .site-text-container-separator{
    width: 100%;
    height:1px;
    background-color: #c9dcc1;
  }
  .product-details-page-container{
    display: flex;
        flex-direction: column;
        padding: 0px 50px 20px;
  }
  .site-text-container-title, .site-text-container-price, .site-text-container-description{
    color: #c9dcc1;
  }