/* .App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6A8076;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header-cart{
  background-color: #6A8076;
  color: white;
  align-items: end;
  display: flex;
  flex-flow: row-reverse;
  padding: 5px 20px;
}
.App-container{
  background-color: #6A8076;
  color: #c9dcc1;
  font-family: "Emilys Candy", serif;
}
.App-container a{
  text-decoration: none;
  color: #c9dcc1 !important;
}
.App-container-loading{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}