.product-card{
    font-family: "Emilys Candy", serif;
    background-color: #546D5F;
    text-align: left;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    max-width: 220px;
    transition: transform 0.3s ease-in-out;
}
.product-card:hover{
    transform: scale(1.05);
}
.product-card img{
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px 5px 0px 0px; 
}
.card-text-container{
    padding:20px;
    place-items: center;
}
.product-card .title{
    
    /* color: #723D46; */
    color: #c9dcc1;
    margin:unset;
    font-size: 20px;
}
.product-card .description{
    color: #B2A093;
    font-size: 16px;
}
.product-card .price{
    font-weight: bold;
    color: #e8d0a7;
}
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

.product-card .button {
    font-family: "Emilys Candy", serif;
    font-weight: 600;
    font-style: normal;
  background: linear-gradient(135deg, #e8d0a7, #88B7A7); /* Pastelowe zielenie */
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(100, 180, 120, 0.3); /* Miękki zielony cień */
  transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product-card .button:hover {
    transform: scale(1.05); /* Powiększa */
  box-shadow: 0 12px 20px rgba(100, 180, 120, 0.4); /* Mocniejszy cień */
  }
  
  .product-card .button:active {
    transform: scale(0.95); /* Zmniejsza */
  box-shadow: 0 4px 8px rgba(100, 180, 120, 0.2); /* Słabszy cień */
  }
  .product-card .button--secondary {
    background: linear-gradient(135deg, #e8d0a7, #6A8076); /* Ciut ciemniejsze */
    box-shadow: 0 8px 15px rgba(105, 160, 120, 0.3);
  }
  
  .product-card .button--small {
    padding: 8px 16px;
    font-size: 14px;
  }